<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Fecha</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="producto: ${productos}">
    <td th:text="${producto.id}"></td>
    <td th:text="${producto.nombre}"></td>
    <td th:text="${producto.precio}"></td>
    <td th:text="${producto.createAt}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>